@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mulish:wght@500&display=swap');
		h1
		{
			font-family: "Lato";
			font-weight: normal;
		}
		body{
			background-color: #867ae9;
		}
		section{
			width: 100%;
			height: 75vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		div{
			background-color: #fff;
			padding: 20px 40px;
			border: 1px solid #232323;
			border-radius: 5px;
			box-shadow: 0 20px 30px #232323;
		}
		textarea{
			resize: vertical;
			border: 2px solid #232323;
		}
		input[type='submit']{
			padding: 10px 20px;
			border: 2px solid #2940d3;
			border-radius: 5px;
			font-size: 1.5em;
			outline: none;
			font-family: "Mulish";
		}
		label{
			font-family: Lato;
		}
		input[type='text']{
			width: 100%;
			font-family:  Mulish;
		height:30px;
			/*border: none;*/
			border: 2px solid #232323;
			outline: none;
		}

		input[type='submit']:focus,input[type='submit']:hover{
			transition-duration:0.5s;
			background-color: #2940d3;
			color: white;
		}
		#dbtn{
			border: 2px solid #ce1212;
		}
		#dbtn:hover,#dbtn:focus{
			transition-duration:0.5s;
			background-color: #ce1212;
			color: white;
		}